<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Descargar YouTube 🔥</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎥</text></svg>">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="wrap">
    <div class="card">
        <div class="background" style="background-image: url('{{ video_info.thumbnail }}');"></div>
        <h1>🎥 DESCARGAR VIDEOS DE YOUTUBE 🔥</h1>
        <form method="POST">
            <input type="text" name="url" placeholder="Pega la URL de YouTube" value="{{ url or '' }}">
            <button type="submit" name="preview">Obtener Información</button>
        </form>

        {% if video_info %}
        <div class="info">
            <img class="thumb" src="{{ video_info.thumbnail }}" alt="thumbnail">
            <div class="meta">
                <h2>{{ video_info.title }}</h2>                
                <p id="author">©️ Autor: {{ video_info.author }}</p>                
                <p>👀 Vistas: {{ video_info.views }}</p>
                <p>⏳ Duración: {{ video_info.duration }}</p>
                <p>📅 Publicado: {{ video_info.upload_date }}</p>

                <form method="POST" action="/download">
                    <input type="hidden" name="url" value="{{ video_info.url }}">
                    <br>
                    <button type="submit" name="formato" value="mp4" class="btn-download">📹 Descargar MP4</button>
                    <button type="submit" name="formato" value="mp3" class="btn-download">🎵 Descargar MP3</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <p id="footer-phrase">{{ phrase }}</p>
</div>
<script src="/static/scritp.js"></script>
</body>
</html>
